<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Buscar ativo</mat-label>
  <input matInput [formControl]="searchControl" [matAutocomplete]="auto" placeholder="Digite para buscar...">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
  <button matSuffix mat-icon-button aria-label="Search" (click)="onSearchClick()">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>